<!DOCTYPE >
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>添加医生</title>
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/pintuer.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/transition.js"></script>
<script src="/js/collapse.js"></script>
<script src="/js/ie-emulation-modes-warning.js"></script>
<script type="text/javascript" src="js/dropdown.js"></script>
</head>
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			<strong><span class="icon-pencil-square-o"></span> 添加员工信息</strong>
		</div>
		<div class="body-content">
			<form method="post" class="form-x" action="/employee/addEmployee" enctype="multipart/form-data">
				<div class="form-group">
					<div class="label">
						<label>员工工号</label>
					</div>
					<div class="field">
						<input type="text" name="id" style="width: 25%; float: left;" class="input"
							 value="" />
						<div class="tipss"><font color="red">*必填项</font></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>员工姓名：</label>
					</div>
					<div class="field">
						<input type="text" name="name"  style="width: 25%; float: left;" class="input"
							value="" />
							<div class="tipss"><font color="red">*必填项</font></div>
					</div>
					
				</div>
				<div class="form-group">
					<div class="label">
						<label>初始密码：</label>
					</div>
					<div class="field">
						<input type="text" name="password" th:value="123" style="width: 25%; float: left;" class="input"
							 value="" />
						<div class="tipss"><font color="red">*必填项</font></div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>所在窗口：</label>
					</div>
					<div class="field">
				
						<select name="windowId"  class="input w50">
							<option th:each="wind : ${windowList}" th:text="${wind.id}" th:value="${wind.id} ">giao</option>
						</select>
						
						<div class="tipss"><font color="red">*必填项</font></div>
					</div>
					</div>
					<div class="form-group">
						<div class="label">
							<label>联系方式：</label>
						</div>
						<div class="field">
							<input type="text" name="phoneNum" class="input" style="width: 25%; float: left; " />
							<div class="tipss"><font color="red">*必填项</font></div>
						</div>
					</div>
					<div class="field" align="center">
						<button class="button bg-main icon-check-square-o" type="submit">
							提交</button>
					</div>
				</div>
			</form>
		</div>
</body>
</html>