<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 修改窗口信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/window/doupdate">
      <div class="form-group">
        <div class="label">
          <label>窗口号：</label>
        </div>
        <div class="field">
          <input type="text" name="wid" class="input" th:value="${wind.id}" onfocus=this.blur() style="width: 25%; float: left"  />
          <div class="tipss"><font color="red">*不可修改</font></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>开放时间：</label>
        </div>
        <div class="field">
         <input type="text" class="input"  name="openTime" th:value="${wind.openTime}" style="width: 25%; float: left"  />
          <div class="tipss"><font color="red">*必填项</font></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>关闭时间：</label>
        </div>
        <div class="field">
         <input type="text" class="input"  name="closeTime" th:value="${wind.closeTime}" style="width: 25%; float: left"  />
          <div class="tipss"><font color="red">*必填项</font></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>容纳人数：</label>
        </div>
        <div class="field">
         <input type="text" class="input"  name="maxCount" th:value="${wind.maxCount}" style="width: 25%; float: left"  />
          <div class="tipss"><font color="red">*必填项</font></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>